

<div class="container bg-black text-white">
    <div class="row pt4 justify-content-between">
        <div class="col-6 text-center">
            <h2 class="text-primary" style="color: white !important">
                Company List
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Company" asp-action="UpsertCompany" class="btn btn-info rounded-pill">
                <i class="fa-solid fa-plus fa-2xl" style="color: #000000;"></i> Create New Company
            </a>
        </div>
    </div>
    <br />
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Adress
                </th>
                <th>
                    City
                </th>
                <th>
                    State
                </th>
                <th>
                    Phone Number
                </th>
                <th>
                    Edit/Delete
                </th>
            </tr>
        </thead>
    </table>
    <table id="tblData" class="table table-bordered table-striped" style="width:100%">
        <tbody>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Adress
                </th>
                <th>
                    City
                </th>
                <th>
                    State
                </th>
                <th>
                    Phone Number
                </th>
                <th>
                    Edit/Delete
                </th>
            </tr>
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/js/company.js"></script>
}

