<html>
<head>

    <style>
        .info-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .para {
            line-height: 3rem;
            padding: 3rem;
            font-size: 1.5rem;
            font-weight: 350;
        }
    </style>
</head>
<body>
    <div class="container my-3 py-3">
        <h1 class="text-center">About Us</h1>
        <hr />
        <div class="info-container">
            <div>
                <p class="lead para">
                    Welcome to Urbankart, your go-to destination for a seamless and delightful online shopping experience! In the fast-paced world we live in, convenience is key, and we bring the mall to your fingertips. Urbankart is not just another e-commerce website; it's your virtual shopping haven where variety meets simplicity.
                </p>
            </div>
            <div>
                <img src="~/images/about.svg" height="400" width="400" />
            </div>
        </div>

        <h2 class="text-center py-4">Our Products</h2>
        <div class="row">
            <div class="col-md-3 col-sm-6 mb-3 px-3">
                <div class="card h-100">
                    <img class="card-img-top img-fluid" src="https://img.freepik.com/free-psd/dark-smartphone-mockup_149660-807.jpg?w=826&t=st=1708518604~exp=1708519204~hmac=dcf7b409dd7cf367e392cf537a6403bea3bccd7d97425e2a47b9c34278776a6d" alt="" height="160" />
                    <div class="card-body">
                        <h5 class="card-title text-center">Phones</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-3 px-3">
                <div class="card h-100">
                    <img class="card-img-top img-fluid" src="https://img.freepik.com/free-photo/still-life-books-versus-technology_23-2150062920.jpg?w=996&t=st=1708518802~exp=1708519402~hmac=4a8b26accdb4197c71e49786b94c1b67a6fec1daf2ea70cd7c7b87b04515aea1" alt="" height="160" />
                    <div class="card-body">
                        <h5 class="card-title text-center">Laptops</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-3 px-3">
                <div class="card h-100">
                    <img class="card-img-top img-fluid" src="https://img.freepik.com/free-photo/modern-stationary-collection-arrangement_23-2149309652.jpg?w=996&t=st=1708518873~exp=1708519473~hmac=112a043f047643419bc9d68d2ed375a684c3d494651097c600f7e43246d65958" alt="" height="160" />
                    <div class="card-body">
                        <h5 class="card-title text-center">Phone Accessories</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-3 px-3">
                <div class="card h-100">
                    <img class="card-img-top img-fluid" src="https://images.pexels.com/photos/356056/pexels-photo-356056.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" height="160" />
                    <div class="card-body">
                        <h5 class="card-title text-center">PC & Laptop Accessories</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

