 @model IEnumerable<Product>


<div class="image-container bg-white">
    <img src="~/images/main.svg" class="d-block w-100" alt="Wild Landscape" style="margin: 10px; border: solid white 2px;">

</div>







